body{
  background-color:#B0E0E6
}
#linguagens{
  width: 40%
}
#exatas{
  width:40%
}
p{
  color: ; font-size:100% ; font-family:
}
#caixa{
position: relative;
width: 940px;
margin: 0 auto;
}

h1{
font-size: 400% ; font-family: cursive;
}
h2 {
font-size: 150% ; font-family: sans-serif;

}
header{
  background: #87CEFA;
padding: 20px 0;
}
.frase{
  background-color:; font-size: center ; border-radius: 15px;
}
.tabelinha{
  border: 10px solid #66CDAA;
  margin-left: 500px;
  margin-right: 500px;
}
